#main
  #date(v-text="date")
  #pomodori-graph(v-if="pomodori")
    %ul
      %li.pomodoro(v-repeat="pomodori" v-style='top: topPos, left: leftPos' v-transition)
        .pomodoro-icon
          &#127813;
        .detail.bubble
          .title(v-text="title")
          .time
            %span.started_time(v-text="started_at")
            = " ~ "
            %span.finished_time(v-text="finished_at")
