#main
  #pomodori-graph(v-if="pomodori")
    %ul
      %li.pomodoro(v-repeat="pomodori" v-style='top: topPos, left: leftPos' v-transition)
        = image_tag 'pomodoro_icon.svg'
        .title(v-text="title")
