ul {
  list-style: none;
}

#main {
  position: relative;
}

.pomodoro {
  position: absolute;
}

.pomodoro {
  transition: all 1s ease;
}

.pomodoro.v-enter,
.pomodoro.v-leave {
  left: 0;
  top: 0;
}
